.header{
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #86abe6;
    height: 76px;
    padding-top: 10px;
    position: sticky;
    top: 0;
    filter: drop-shadow(5px 5px 4px #4a4aa1);
    z-index: 1;
}
.country{
    margin-top: 10px;
    background: rgb(128, 106, 206);
    height: 58px;
    border-radius: 5px;
    box-shadow: 2px 2px gray;
    padding-left: 14px;
    display: flex;
    font-size: 21px;
    font-family: none;
    color: ghostwhite;  
    cursor: pointer;
    align-items: center;
    margin-bottom: 50px;
}
.sidebar{
    margin-top: 30px;
    position: fixed;
    right: 30px;
    z-index: 1;
    border-left: 2px solid black;
    height: 80%;
    padding-left: 10px;

}
.maincontainer{
    display: flex;
    flex-direction: row;
}
.leftsub{
    display: flex;
    flex-direction: row;
} 
.stateCon{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: space-between;
    margin-left: 28px;
}
.state{
    margin: 14px;
    height: 106px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    background: #a29292;
    color: #370606;
    box-shadow: 3px 3px #a6a3a3;
    padding-left: 10px;
}
.display-col{
    display: flex;
    flex-direction: column;   
}
.heading{
        margin-left: 5px;
        font-size: 33px;
        font-family: none;
        color: ghostwhite;
}
.texts{
    margin-left: 56px;
    margin-top: 10px;
    font-size: 20px;
    color: #272760;
    font-family: none;
}
.texts-start{
    margin-left: 15% !important;
    margin-top: 20% !important;
}
.tab-selected{
    background-color: white !important;
    color: black !important;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    box-shadow: 2px 2px 2px 2px gray;
}
.tab-unselected{
    background: rgb(128, 106, 206) !important; 
    color: ghostwhite !important; 
}
.city{
    color: ivory;
    text-decoration: underline;
}
.country:hover{
    transform: translate(2px, 2px);  
}

@media (min-width: 1000px) and (max-width: 1090px) {
    .Weathericons{
        width: 60px;
    }
    .texts{
        font-size: 16px;
    }
}